@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Source+Code+Pro:wght@400;500;700&display=swap");

.fb-customerchat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #0084ff;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1.5;
    /* cursor: pointer; */
    opacity: 0;
}

.fb-customerchat:hover {
    background-color: #0060cc;
}
